<div class="container">
  <!--<iframe src="http://121.7.234.213:8081" height="800" width="400"></iframe>-->
  <div class="p-2">
    <input class="form-control" [(ngModel)]="ip" type="text" placeholder="tank ip">
  </div>
  <div class="px-2">
    <button (click)="toggleConnect()" [ngClass]="{'btn-primary' : !connected, 'btn-success': connected}" class="btn">
      <span>{{btnText}}</span>
    </button>

    <button (click)="toggleLED()" class="btn btn-warning">
      <span> Head Light </span>
    </button>
  </div>
  <div id="zone_joystick" class="col-xs-12 joystick">
  </div>

</div>
